.account-detail {
    color: #ffff ;

}

.link-btn {
position: absolute;
    right: 875px;
}
.account-detail{
    font-size: 60px;
}

.text-center {
    font-weight:30px;
    color: rgb(255, 255, 255);
}
