.movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-row-align: 20px;
}

@keyframes tornado3D {
    from {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    to {
        transform: translateZ(0) rotateY(0deg);
        opacity: 1;
    }
}

.card-list {
    perspective: 1000px;
}

.card-list > div {
    animation: tornado3D 1s;
}

.movie-bookmarks-title {
    font-size: 70px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px black;
}

.movie-card-container {
    position: relative;
}

.btn-danger {
    position: relative;
    left: 100px;
    margin-top: 10px;
}

.no-bookmarks {
    font-size: 80px;
    position: relative;
    text-align: center;
    padding-left: 420px;
    color: #ffff;
    -webkit-text-stroke: 2px black;
}
