.login-container {
    padding: 20px;
}

.shadow {
    border: 0px solid #000000e8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-form {
    margin-top: 20px;
}

.login-form input {
    margin-bottom: 10px;
}

.link-btn {
    border-radius: 0.25rem;
    position: absolute;
    right: 920px;
}

.text-end {
    font-size: 50px;
    color: #ffff;
    padding-left: 70px;
    text-align: center;
}

.text-center {
    color: #ffff;
}
.password {
    color: #ffff;
}
