.btn-color {
    background-color: #8c1414; /* change this to your desired color */
    color: #ffff
}

.btn-hover:hover {
    background-color: #ffff; /* change this to your desired hover color */
    color: #8c1414; /* change this to your desired text color */
}

.btn-color2 {
    background-color: #ffff; /* change this to your desired color */
    color: #8c1414
}

.btn-hover2:hover {
    background-color: #8c1414; /* change this to your desired color */
    color:  #ffff/* change this to your desired text color */
}

.text-end{
    font-size: 18px;
    padding-left: 50px
}
.text-center{
    color: #fff;
    -webkit-text-stroke: 1.5px #0000;
}
