body {
    background-color: gray;
    color: rgb(160, 14, 14);
}
/* Align the header items to the right */
.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
/* Style the header links */
.header a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
    color: #592035;
}
/* Set the layout for the card list to a 4x4 grid */
.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
/* Apply a hover effect to the search button */
.button:hover {
    background-color: #ffff;
    color: #8c1414;
}
/* Apply a hover effect to the movie cards */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/* Style the movie card */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-content {
    padding: 20px;
}
.card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}
.card-text {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
}
.card-year {
    font-size: 14px;
    font-style: italic;
    margin: 0;
}
.card-rating {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}
/* Increase the size of the search bar and search button */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.input {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 400px; /* increase width */
}
.button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #8c1414;
    color: #ffff;
    width: 200px; /* increase width */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/* Arrange header items side by side */
.header div {
    display: flex;
}
/* Add margin to header links */
.header a:not(:first-child) {
    margin-left: 30px;
}

a:hover path {
    fill: #df8817;
}

svg {
    position: absolute;
    top: 890px;
    right: 1480px;
    z-index: 9999;
}

.movie-detail-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.poster {
    flex: 1;
    margin-right: 50px;
}

.movie-detail-content {
    flex: 2;
}

.videos {
    width: 50%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.movie-detail-container > div {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.videos > div {
    animation: fadeIn 1.5s;
}

.movie-detail-container {
    font-size: 18px;

    color: white;
    -webkit-text-stroke: 1px black;

}

.movie-detail-content h2 {
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 1.5px black;
}

.movie-detail-content p {
    font-size: 18px;
    color: white;
    -webkit-text-stroke: .3px black;
}

.movie-detail-content .videos h3 {
    font-size: 24px;
    color: white;
    -webkit-text-stroke: .3px black;
}

.movie-detail-content .videos p {
    font-size: 18px;
    color: white;
    -webkit-text-stroke: .3px black;
}
